body { 
    background: #e2a7c4 url('../img/bg.png') repeat !important;
    font: 1.5rem/150% 'Work Sans', sans-serif;
}

h1, h2 {
    font-family: 'Yellowtail', cursive; 
    line-height: 120%;
    font-weight: normal !important;
}

h1 { font-size: 120px; }

h2 { font-size: 50px; }

img {
    width: 350px;
    height: 350px;
    object-fit: cover; 
    margin: 30px auto;
}

p {
    font: 1.5rem/150% 'Work Sans', sans-serif;
}

.jumbotron {
    width: 90%;
    margin: 0 auto;
    text-align: center; 
    background: transparent; 
}

.burger-box {
    position: relative;
    width: 100%;
    margin-top: 50px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.burger-title {
    position: absolute; 
    color: white;
    text-shadow: 2px 2px #a84d7c,
                 2px -2px #a84d7c,
                 -2px 2px #a84d7c,
                 -2px -2px #a84d7c,
                 5px 5px #f090c1, 
                 7px 7px white,
                 9px 9px #a84d7c; 
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    -o-transform: rotate(-8deg);
    transform: rotate(-8deg);
}

.burger-subtitle {
    color: white;
    text-shadow: 1px 1px #a84d7c,
                 1px -1px #a84d7c,
                 -1px 1px #a84d7c,
                 -1px -1px #a84d7c;
    text-align: center; 
    margin: 30px auto; 
}

.btn {
    font: 1.7rem/100% 'Work Sans', sans-serif;
    background-color: #f090c1; 
    border: 1px solid #a84d7c; 
    transition: all .5s ease; 
    color: white; 
}

li {
    list-style-type: none;
    font-size: 1.5rem;
    font-weight: bold; 
    color: white;
    text-shadow: 1px 1px #a84d7c,
                 1px -1px #a84d7c,
                 -1px 1px #a84d7c,
                 -1px -1px #a84d7c;
}

li::before {
    content: '\2729';
    display: inline !important; 
    color: white;
    text-shadow: 1px 1px #a84d7c,
                 1px -1px #a84d7c,
                 -1px 1px #a84d7c,
                 -1px -1px #a84d7c;
    font-size: 2rem;
    margin-right: 20px;
}

#burger-devour {
    font-size: 1rem; 
    font-weight: 400; 
    color: white;
    border: 1px solid #a84d7c; 
    margin-left: 20px; 
}

#burger-devour:hover,
.btn:hover { color: #a84d7c; }

.burger-input { 
    border: 1px solid #a84d7c; 
    padding: 3px; }